<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="DbConn" connectionString="Server=scrmonument.ckxfagkir4vg.us-west-2.rds.amazonaws.com,1433;Database=SCRRecords;User ID= scr_user;Password = passIn;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <appSettings>
    <add key="StoreName" value="Monument"/>
    <add key="Address" value="1445 Cipriani Loop"/>
    <add key="City" value="Monument"/>
    <add key="State" value="CO"/>
    <add key="Zip" value="80132"/>
    <add key="PhoneNumber" value="(719) 247-8611"/>
    <add key="TaxLocal" value="0.0713"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/>
  </startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
</configuration>
